<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{dare?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<app-count-down-timer *ngIf="createdOnDate" [date]="createdOnDate"></app-count-down-timer>
  <!-- <ion-label>Time Remaining: {{(counter$ | async)?.hours}} hrs {{(counter$ | async)?.mins}} mins {{(counter$ | async)?.seconds}} secs</ion-label> -->

  <ion-button (click)="presentActionSheet()" expand="full" color="dark">Order by Filters</ion-button>

  <span *ngIf="isUploading">Uploading Data...</span>
  <ng-container *ngIf="!isCordova && !isUploading">
    <input type="file" (change)="uploadFile($event)" />
    <div>{{ uploadPercent | async }}</div>
  </ng-container>

  <ng-container *ngIf="isCordova && !isUploading">
    <ion-button (click)="recordVid()" expand="full" color="primary">Record</ion-button>
  </ng-container>


  <ion-card *ngFor="let vid of vids | async">
    <ion-card-header>
      <ion-card-title>{{vid.from}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="videoCard">
      <vg-player margin-bottom>
        <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
          <source [src]="vid.videoUrl" type="video/mp4">
        </video>
      </vg-player>

      <ion-badge (click)="like(vid)">
        <ion-icon name="thumbs-up"></ion-icon> {{vid.likes}}
      </ion-badge>
      <ion-badge margin-start	 color="danger" (click)="dislike(vid)">
        <ion-icon name="thumbs-down"></ion-icon> {{vid.dislikes}}
      </ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>