<ion-content padding>


  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item margin-bottom>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button margin-bottom (click)="basicLogin()" expand="full"  color="dark" [disabled]="!form.valid">Login
      Email</ion-button>
    <ion-button margin-bottom (click)="doRegister()" expand="full"  color="dark" [disabled]="!form.valid">Register</ion-button>
  </form>

  <ion-button *ngIf="!isCordova" (click)="login()" expand="full"  color="dark">Login with Google</ion-button>

</ion-content>