<ion-content padding>

  <ion-card *ngFor="let dare of dares | async" (click)="selectDare(dare)">
    <ion-card-header>
      <ion-card-title>{{dare.title}}</ion-card-title>
      <ion-card-subtitle>{{dare.creator}}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      {{dare.description}}
    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addDare()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>